.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.about .content .col-left{
    position: relative;
    width: 45%;
}

.about .content .col-right{
    position: relative;
    width: 45%;
}

.about .content .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .img-card img{
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about.content-title{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}