.footer{
    background-color: #000016;
    color: #fff;
    text-align: center;
    padding: 34px;
}

.footer .footer-title{
    font-size: 20px;
    font-weight: 600;
}

.footer p{
    margin-top: 10px;
}